:host {
  background: var(--color-quartery); // color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  z-index: 9999;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  z-index: 1000;
  border: 1px solid var(--color-tertiary);
  color: var(--color-primary);
}

.sidemenu {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
}

.user {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__img {
    width: 40%;
    height: 40%;
    border-radius: 100%;
  }
  &__displayName {
    font-size: 4rem
  }
  ;
}

.backspace {
  width: 5rem;
  position: absolute;
  top: 50%;
  left: 0;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  font-size: 2rem;
}
