/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.css'; */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "https://fonts.googleapis.com/css?family=Lato:100, 300, 400, 700, 900";

:root {
  --color-primary: #071a52;
  --color-secondary: #086972;
  --color-tertiary: #17b978;
  --color-quartery: #a7ff83;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  /* 1 rem = 10px, 10px/16pxpx = 62.5% */
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Indie Flower', cursive; */
  font-weight: 400;
  background-color: var(--color-quartery);
}
