<div class="calendar">
  <div class="calendar-selecteddate">
    <br>
  </div>
  <div class="calendar-selects">
    <div class="calendar-selects__month">
      <select #m (change)="monthChanged(m.value)">
        <option *ngFor="let m of months" [value]="m" [selected]="m == selectedDate.monthtext">
          {{m}}
        </option>
      </select>
    </div>
    <div class="calendar-selects__year">
      <select #y (change)="yearChanged(y.value)">
        <option *ngFor="let y of years" [value]="y" [selected]="y == selectedDate.year">{{y}}</option>
      </select>
    </div>
  </div>

  <div class="calendar-weekdays">
    <div class="calendar-weekdays__w" *ngFor="let w of weekDays">
      {{w}}
    </div>
  </div>
  <div class="calendar-grid">
    <div class="calendar-grid__monthWeeks">
      <div class="calendar-grid__monthWeeks__mw" *ngFor="let mw of monthWeeks" [ngClass]="{'today': isThisWeek(mw)}" (click)="weekClicked(mw)">
        {{mw}}
      </div>
    </div>
    <div class="calendar-grid__days">
      <div class="calendar-grid__days__d" *ngFor="let d of monthDays" [ngClass]="{'today': isToday(d)}" (click)="dayClicked(d)">{{d}}
      </div>
    </div>
  </div>

  <div class="calendar-buttons">
    <button type="button" class='hvr-grow-shadow' (click)="today()">Today</button>
    <button type="button" class='hvr-grow-shadow' (click)="thisweek()">ThisWeek</button>
    <button type="button" class='hvr-grow-shadow' (click)="thismonth()">ThisMonth</button>
    <button type="button" class='hvr-grow-shadow' (click)="thisyear()">ThisYear</button>
  </div>

</div>
